configs:
  {{mailrise_general_notifications_email}}:
    urls:
      - matrixs://{{matrix_notifications_user}}:{{matrix_notifications_password}}@{{matrix_notifications_url}}/{{matrix_general_room_id}}
  {{mailrise_warning_notifications_email}}:
    urls:
      - matrixs://{{matrix_notifications_user}}:{{matrix_notifications_password}}@{{matrix_notifications_url}}/{{matrix_warning_room_id}}
  {{urgent_notifications_email}}:
    urls:
      - matrixs://{{matrix_notifications_user}}:{{matrix_notifications_password}}@{{matrix_notifications_url}}/{{matrix_urgent_room_id}}