version: '3.4'

services:
  tdarr:
    image: "{{ tdarr_docker_image }}:{{ tdarr_version }}"
    environment:
      PUID: "{{ media_user }}"
      PGID: "{{ media_group }}"
      TZ: "{{ default_timezone }}"
      webUIPort: "8265"
      serverPort: "8266"
      serverIP: "0.0.0.0"
    network_mode: bridge
    ports:
      - 8265:8265
      - 8266:8266
      - 8267:8267
    volumes:
      - /blacktalon/apps/tdarr/server:/app/server
      - /blacktalon/apps/tdarr/config:/app/configs
      - /blacktalon/apps/tdarr/logs:/app/logs
      - /blacktalon/media:/media
      - transcode_cache:/temp
      - /etc/localtime:/etc/localtime:ro

  tdarrnode:
    image: "{{ tdarr_node_docker_image }}:{{ tdarr_version }}"
    environment:
      PUID: "{{ media_user }}"
      PGID: "{{ media_group }}"
      TZ: "{{ default_timezone }}"
      nodeID: "MainNode"
      serverPort: "8266"
      serverIP: "0.0.0.0"
      nodeIP: "0.0.0.0"
    network_mode: service:tdarr
    volumes:
      - /blacktalon/apps/tdarr/config:/app/configs
      - /blacktalon/apps/tdarr/logs:/app/logs
      - /blacktalon/media:/media
      - transcode_cache:/temp
      - /etc/localtime:/etc/localtime:ro

volumes:
  transcode_cache:
    external: true