version: "3.4"

services:
  tdarr:
    container_name: "tdarr"
    image: "{{ tdarr_docker_image }}:{{ tdarr_version }}"
    environment:
      PUID: "{{ media_user }}"
      PGID: "{{ media_group }}"
      TZ: "{{ default_timezone }}"
      webUIPort: "{{ tdarr_port }}"
      serverPort: "{{ tdarr_server_port }}"
      serverIP: "0.0.0.0"
    network_mode: bridge
    ports:
      - {{ tdarr_port }}:{{ tdarr_port }}
      - {{ tdarr_server_port }}:{{ tdarr_server_port }}
      - 8267:8267
    volumes:
      - /blacktalon/apps/tdarr/server:/app/server
      - /blacktalon/apps/tdarr/config:/app/configs
      - /blacktalon/apps/tdarr/logs:/app/logs
      - /blacktalon/media:/media
      - /temp:/temp
      - /etc/localtime:/etc/localtime:ro

  tdarr-node:
    container_name: tdarr-node
    image: "{{ tdarr_node_docker_image }}:{{ tdarr_version }}"
    environment:
      PUID: "{{ media_user }}"
      PGID: "{{ media_group }}"
      TZ: "{{ default_timezone }}"
      nodeID: "MainNode"
      serverPort: "{{ tdarr_server_port }}"
      serverIP: "0.0.0.0"
      nodeIP: "0.0.0.0"
    network_mode: service:tdarr
    volumes:
      - /blacktalon/apps/tdarr/config:/app/configs
      - /blacktalon/apps/tdarr/logs:/app/logs
      - /blacktalon/media:/media
      - /temp:/temp
      - /etc/localtime:/etc/localtime:ro