---
title: "{{ homer_site_title }} Beta"
subtitle: "{{ homer_site_subtitle }}"
logo: "assets/tools/png/badge.png"
footer: false

links:
  - name: "Login"
    icon: "fas fa-user"
    url: "https://login.{{ project_tld }}/"

services:
  - name: "Testing"
    icon: "fas fa-flask"
    items:
      - name: "Fasten"
        logo: "assets/tools/png/fasten.png"
        subtitle: "Securely Connect to Healthcare Providers"
        url: "https://fasten.{{ development_tld }}/"
        tag: "Health"
      - name: "Huginn"
        logo: "assets/tools/png/huginn.png"
        subtitle: "Your Agents are Standing By"
        url: "https://huginn.{{ development_tld }}/"
      - name: "Firefly"
        logo: "assets/tools/png/firefly.png"
        subtitle: "Open Source Personal Finance Manager"
        url: "https://firefly.{{ development_tld }}/"
        tag: "Finance"
      - name: "Actual"
        logo: "assets/tools/png/actual.png"
        subtitle: "A Personal Finance App"
        tag: "Finance"
        url: "https://actual.{{ development_tld }}/"
      - name: "FileFlows"
        logo: "assets/tools/png/fileflows.png"
        subtitle: "Library Analytics + Transcode Automation"
        url: "https://fileflows.{{ development_tld }}/"
  - name: "Monitoring"
    icon: "fas fa-heartbeat"
    items:
      - name: "Traefik"
        logo: "assets/tools/png/traefik.png"
        subtitle: "Open Source Edge Router"
        url: "https://api.{{ development_tld }}/"