<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Connected</title>
  <meta name="description" content="A simple portal landing page">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="A Simple Portal Landing Page">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.{{ project_tld }}/assests/redirect.html">
  <meta property="og:description" content="A simple portal landing page">

  <link rel="icon" href="icons/favicon.ico">
  <link rel="icon" href="icons/favicon-32x32.png" type="image/png+xml">
  <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">

  <style>
    body {
      background-image: url('icons/background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    #connected {
        background-color: #0492eb;
        border-radius: 25px;
        padding: 15px;
        font-family: arial;
        font-size: 52px;
        font-weight: 900;
        color: #ffffff;
       }
    </style>
</head>

<body>

    <div id="connected">Connected</div>

</body>
</html>
