{
  "allowedOrigins": [],
  "dailyNewSyncsLimit": 3,
  "db": {
    "authSource": "xbrowsersync",
    "connTimeout": 30000,
	"host": "{{ mongodb_hostname }}.{{ traefik_network }}",
	"port": {{ mongodb_port }},
	"name": "{{ xbrowsersync_database }}",
	"password": "{{ xbrowsersync_database_password }}",
    "ssl": false,
    "useSRV": false,
    "username": "{{ xbrowsersync_database_user }}"
  },
  "maxSyncs": 5242,
  "maxSyncSize": 512000,
  "server": {
    "behindProxy": true,
    "host": "127.0.0.1",
    "https": {
      "certPath": "",
      "enabled": false,
      "keyPath": ""
    },
	"port": 8080,
	"relativePath": "/"
  },
  "status": {
    "allowNewSyncs": false,
    "message": "",
    "online": true
  },
  "throttle": {
    "maxRequests": 1000,
    "timeWindow": 300000
  }
}