clair:
  database:
    type: pgsql
    options:
      source: host={{postgres_hostname}} port={{postgres_port}} dbname={{portus_clair_database}} user={{portus_clair_database_user}} password={{portus_clair_database_password}} sslmode=disable statement_timeout=60000
      cachesize: 16384
      paginationkey: {{portus_clair_paginationkey}}

  api:
    addr: "0.0.0.0:6060"
    healthaddr: "0.0.0.0:6061"
    timeout: 900s
    servername:
    cafile:
    keyfile:
    certfile:

  worker:
    namespace_detectors:
      - os-release
      - lsb-release
      - apt-sources
      - alpine-release
      - redhat-release

    feature_listers:
      - apk
      - dpkg
      - rpm

  updater:
    interval: 2h
    enabledupdaters:
      - debian
      - ubuntu
      - rhel
      - oracle
      - alpine

  notifier:
    attempts: 3
    renotifyinterval: 2h

    http:
      endpoint:
      servername:
      cafile:
      keyfile:
      certfile:
      proxy: