{
  "domain": "https://vault.{{project_tld}}",
  "hibp_api_key": " {{bitwarden_hibp_api_key}} ",
  "disable_icon_download": false,
  "signups_allowed": true,
  "signups_verify": true,
  "signups_verify_resend_time": 3600,
  "signups_verify_resend_limit": 6,
  "signups_domains_whitelist": "{{project_tld}}",
  "invitations_allowed": true,
  "password_iterations": 100000,
  "show_password_hint": true,
  "admin_token": "{{bitwarden_admin_token}}",
  "invitation_org_name": "Vault",
  "ip_header": "X-Real-IP",
  "icon_cache_ttl": 2592000,
  "icon_cache_negttl": 259200,
  "icon_download_timeout": 10,
  "icon_blacklist_non_global_ips": true,
  "disable_2fa_remember": false,
  "authenticator_disable_time_drift": false,
  "require_device_email": false,
  "reload_templates": false,
  "disable_admin_token": false,
  "_enable_yubico": true,
  "yubico_client_id": "{{bitwarden_yubico_client_id}}",
  "yubico_secret_key": "{{bitwarden_yubico_client_key}}",
  "_enable_duo": false,
  "_enable_smtp": true,
  "smtp_host": "{{email_host}}",
  "smtp_ssl": true,
  "smtp_explicit_tls": false,
  "smtp_port": {{email_port}},
  "smtp_from": "{{email_user}}",
  "smtp_from_name": "Vault",
  "smtp_username": "{{email_user}}",
  "smtp_password": "{{email_password}}",
  "smtp_timeout": 15,
  "_enable_email_2fa": false,
  "email_token_size": 6,
  "email_expiration_time": 600,
  "email_attempts_limit": 3
}
