global:
  smtp_smarthost: '{{email_host}}:{{email_port}}'
  smtp_from: '{{email_user}}'
  smtp_auth_username: '{{email_user}}'
  smtp_auth_password: '{{email_password}}'

templates:
- '/etc/alertmanager/template/*.tmpl'

route:
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: notification
  routes:
    - match:
        severity: critical
      receiver: notification

    - match:
        service: database
      receiver: notification
      group_by: [alertname, cluster, database]

    - match:
        owner: notification
      receiver: notification
      continue: true

inhibit_rules:
- source_match:
    severity: 'critical'
  target_match:
    severity: 'warning'
  equal: ['alertname', 'cluster', 'service']

receivers:
- name: 'notification'
  email_configs:
  - to: 'support@{{project_tld}}'
