{
  "Port": 9117,
  "AllowExternal": true,
  "APIKey": "{{jackett_apikey}}",
  "AdminPassword": "{{jackett_admin_password}}",
  "InstanceId": "{{jackett_instanceid}}",
  "BlackholeDir": "",
  "UpdateDisabled": true,
  "UpdatePrerelease": false,
  "BasePathOverride": "",
  "CacheEnabled": true,
  "CacheTtl": 2100,
  "CacheMaxResultsPerIndexer": 1000,
  "FlareSolverrUrl": "http://flaresolverr:8191",
  "OmdbApiKey": "{{omdb_apikey}}",
  "OmdbApiUrl": "",
  "ProxyType": -1,
  "ProxyUrl": "",
  "ProxyPort": null,
  "ProxyUsername": "",
  "ProxyPassword": "",
  "ProxyIsAnonymous": true
}
