<Config>
  <LogLevel>info</LogLevel>
  <BindAddress>*</BindAddress>
  <EnableSsl>False</EnableSsl>
  <SslCertPath></SslCertPath>
  <Port>{{readarr_port}}</Port>
  <UrlBase></UrlBase>
  <ApiKey>{{readarr_api_key}}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <SslPort>6868</SslPort>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>nightly</Branch>
  <SslCertPassword></SslCertPassword>
</Config>