<Config>
  <LogLevel>info</LogLevel>
  <Port>8989</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>{{sonarr_apikey}}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>{{sonarr_version}}</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>Docker</UpdateMechanism>
  <UpdateAutomatically>False</UpdateAutomatically>
</Config>