<Config>
  <LogLevel>info</LogLevel>
  <Port>8989</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>{{sonarr_port}}</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>{{sonarr_api_key}}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>develop</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>Docker</UpdateMechanism>
  <UpdateAutomatically>False</UpdateAutomatically>
  <InstanceName>Sonarr</InstanceName>
</Config>