<Config>
  <LogLevel>info</LogLevel>
  <Port>{{sonarr_port}}</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>{{sonarr_port}}</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>{{sonarr_api_key}}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>{{sonarr_version}}</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <UpdateMechanism>Docker</UpdateMechanism>
  <UpdateAutomatically>False</UpdateAutomatically>
  <InstanceName>Sonarr</InstanceName>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
</Config>