[app]
# Interface and port where the app will run its webserver.  The default value
# of localhost will only listen to connections from the current machine. To
# listen on all interfaces use '0.0.0.0'. To listen on the default web address
# port, use port 80 (this will require running with elevated permissions).
address = "0.0.0.0:{{listmonk_port}}"

# BasicAuth authentication for the admin dashboard. This will eventually
# be replaced with a better multi-user, role-based authentication system.
# IMPORTANT: Leave both values empty to disable authentication on admin
# only where an external authentication is already setup.
admin_username = "{{listmonk_admin_username}}"
admin_password = "{{listmonk_admin_password}}"

# Database.
[db]
host = "{{postgres_hostname}}"
port = "{{postgres_port}}"
user = "{{listmonk_database_user}}"
password = "{{listmonk_database_password}}"

# Ensure that this database has been created in Postgres.
database = "{{listmonk_database}}"

ssl_mode = "disable"
max_open = 25
max_idle = 25
max_lifetime = "300s"