<Config>
  <LogLevel>Info</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>{{lidarr_port}}</Port>
  <SslPort>6868</SslPort>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>{{lidarr_api_key}}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <LaunchBrowser>True</LaunchBrowser>
  <UpdateMechanism>Docker</UpdateMechanism>
  <Branch>develop</Branch>
  <UpdateAutomatically>False</UpdateAutomatically>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <InstanceName>Lidarr</InstanceName>
</Config>