client-id: {{ gatekeeper_client_id }}
client-secret: {{ gatekeeper_client_secret }}
discovery-url: {{ gatekeeper_discovery_url }}
enable-default-deny: true
enable-refresh-tokens: true
encryption_key: {{ gatekeeper_encryption_key }}
listen: :3000
upstream-url: {{ gatekeeper_upstream_url }}