[general]
ip = 0.0.0.0
port = 6767
base_url = 
path_mappings = [['', ''], ['', ''], ['', ''], ['', ''], ['', '']]
debug = False
branch = master
auto_update = True
single_language = False
minimum_score = 90
use_scenename = True
use_postprocessing = False
postprocessing_cmd = 
postprocessing_threshold = 90
use_postprocessing_threshold = False
postprocessing_threshold_movie = 70
use_postprocessing_threshold_movie = False
use_sonarr = True
use_radarr = True
path_mappings_movie = [['', ''], ['', ''], ['', ''], ['', ''], ['', '']]
serie_default_enabled = True
serie_default_language = ['en']
serie_default_hi = False
serie_default_forced = False
movie_default_enabled = True
movie_default_language = ['en']
movie_default_hi = False
movie_default_forced = False
page_size = 25
page_size_manual_search = 10
minimum_score_movie = 70
use_embedded_subs = True
embedded_subs_show_desired = True
utf8_encode = True
ignore_pgs_subs = False
ignore_vobsub_subs = False
adaptive_searching = False
enabled_providers = opensubtitles
throtteled_providers = {}
multithreading = True
chmod_enabled = False
chmod = 0640
subfolder = current
subfolder_custom = 
update_restart = True
upgrade_subs = False
upgrade_frequency = 12
days_to_upgrade_subs = None
upgrade_manual = False
anti_captcha_provider = None
wanted_search_frequency = 3
wanted_search_frequency_movie = 3
subzero_mods = 
dont_notify_manual_actions = False
flask_secret_key = {{bazarr_flask_secret_key}}

[auth]
type = form
username = {{bazarr_auth_user}}
password = {{bazarr_auth_password_hash}}
apikey = {{bazarr_api_key}}

[sonarr]
ip = sonarr
port = 8989
base_url =
ssl = False
apikey = {{sonarr_apikey}}
full_update = Daily
full_update_day = 6
full_update_hour = 4
only_monitored = False
series_sync = 1
episodes_sync = 5
excluded_tags = []
excluded_series_types = []

[radarr]
ip = radarr
port = 7878
base_url =
ssl = False
apikey = {{radarr_apikey}}
full_update = Daily
full_update_day = 6
full_update_hour = 5
only_monitored = False

[proxy]
type = None
url =
port =
username =
password =
exclude = localhost,127.0.0.1

[opensubtitles]
username = {{opensubtitles_user}}
password = {{opensubtitles_password}}
use_tag_search = False
vip = False
ssl = True
timeout = 15
skip_wrong_fps = False

[addic7ed]
username = 
password = 
random_agents = True

[legendasdivx]
username = 
password = 
skip_wrong_fps = False

[legendastv]
username = 
password = 

[xsubs]
username = 
password = 

[assrt]
token = 

[anticaptcha]
anti_captcha_key = 

[deathbycaptcha]
username = 
password = 

[napisy24]
username = 
password = 

[subscene]
username = 
password = 

[betaseries]
token = 

[analytics]
enabled = True

[titlovi]
username = 
password = 

[subsync]
use_subsync = False
use_subsync_threshold = False
subsync_threshold = 90
use_subsync_movie_threshold = False
subsync_movie_threshold = 70
debug = False

[titulky]
