[AutoRun]
enabled=true
program=unrar x -ibck -inul \"%F/*.r*\" \"%F/\"

[BitTorrent]
Session\Categories=@Variant(\0\0\0\b\0\0\0\x3\0\0\0\x4\0t\0v\0\0\0\n\xff\xff\xff\xff\0\0\0\n\0m\0u\0s\0i\0\x63\0\0\0\n\0\0\0\0\0\0\0\f\0m\0o\0v\0i\0\x65\0s\0\0\0\n\0\0\0\0)
Session\CreateTorrentSubfolder=true
Session\DisableAutoTMMByDefault=false
Session\DisableAutoTMMTriggers\CategoryChanged=false
Session\DisableAutoTMMTriggers\CategorySavePathChanged=true
Session\DisableAutoTMMTriggers\DefaultSavePathChanged=true

[Core]
AutoDeleteAddedTorrentFile=IfAdded

[LegalNotice]
Accepted=true

[Network]
Cookies="__cfduid={{qbittorrent_cookie_cfuid}}; HttpOnly; expires=Sun, 16-Aug-2020 15:28:38 GMT; domain=.geolite.maxmind.com; path=/"

[Preferences]
Advanced\RecheckOnCompletion=false
Advanced\trackerPort=9000
Bittorrent\AddTrackers=false
Bittorrent\Encryption=1
Bittorrent\MaxRatioAction=0
Bittorrent\PeX=true
Connection\GlobalDLLimitAlt=10
Connection\GlobalUPLimitAlt=10
Connection\PortRangeMin=6881
Connection\ResolvePeerCountries=true
Connection\UPnP=false
Downloads\PreAllocation=false
Downloads\SavePath=/media/downloads/
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\0)
Downloads\StartInPause=false
Downloads\TempPath=/media/downloads/incomplete/
Downloads\TempPathEnabled=true
DynDNS\DomainName=changeme.dyndns.org
DynDNS\Enabled=false
DynDNS\Password=
DynDNS\Service=0
DynDNS\Username=
General\Locale=en
General\UseRandomPort=false
MailNotification\email={{mailrise_general_notifications_email}}
MailNotification\enabled=false
MailNotification\password=
MailNotification\req_auth=false
MailNotification\req_ssl=false
MailNotification\sender={{mailrise_general_notifications_email}}
MailNotification\smtp_server={{mailrise_hostname}}
MailNotification\username=
Queueing\MaxActiveDownloads=5
WebUI\Address=*
WebUI\AlternativeUIEnabled=true
WebUI\AuthSubnetWhitelist=0.0.0.0/0
WebUI\AuthSubnetWhitelistEnabled=true
WebUI\CSRFProtection=true
WebUI\ClickjackingProtection=true
WebUI\HTTPS\CertificatePath=
WebUI\HTTPS\Enabled=false
WebUI\HTTPS\KeyPath=
WebUI\HostHeaderValidation=false
WebUI\LocalHostAuth=true
WebUI\Password_PBKDF2="{{qbittorrent_webui_password}}"
WebUI\Password_ha1={{qbittorrent_webui_password_hash}}
WebUI\Port={{qbittorrent_port}}
WebUI\RootFolder=/themepark
WebUI\ServerDomains=*
WebUI\SessionTimeout=3600
WebUI\UseUPnP=true
WebUI\Username=admin