http:
  middlewares:
    authelia:
      forwardauth:
        address: "http://authelia:9091/api/verify?rd=https://login.{{ project_tld }}/"
        trustForwardHeader: true
        authResponseHeaders: "Remote-User, Remote-Groups, Remote-Name, Remote-Email"
    authelia-basic:
      forwardauth:
        address: "http://{{ authelia_hostname }}:{{ authelia_port }}/api/verify?auth=basic"
        trustForwardHeader: true
        authResponseHeaders: "Remote-User, Remote-Groups, Remote-Name, Remote-Email"
    default-headers:
      headers:
        referrerPolicy: no-referrer
        forceSTSHeader: true
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        contentTypeNosniff: true
        browserXssFilter: true
        customRequestHeaders:
          X-Forwarded-Proto: https
  routers:
    homeassistant:
      entryPoints:
        - "websecure"
      rule: "Host(`hass.{{ project_tld }}`)"
      tls: {}
      middlewares:
        - default-headers@file
      service: "homeassistant"
    nodered:
      entryPoints:
        - "websecure"
      rule: "Host(`nodered.{{ project_tld }}`)"
      tls: {}
      middlewares:
        - default-headers@file
      service: "nodered"
    cups:
      entryPoints:
        - "websecure"
      rule: "Host(`print.{{ project_tld }}`)"
      tls: {}
      middlewares:
        - authelia@file
      service: "cups"
    dimondyucas:
      entryPoints:
        - "websecure"
      rule: "Host(`dimondyucas.com`,`www.dimondyucas.com`)"
      tls: {}
      middlewares:
        - default-headers@file
      service: "dimondyucas"
    graylog:
      entryPoints:
        - "websecure"
      rule: "Host(`logs.{{ project_tld }}`)"
      tls: {}
      service: "graylog"
    grafana:
      entryPoints:
        - "websecure"
      rule: "Host(`dashboard.{{ project_tld }}`)"
      tls: {}
      middlewares:
        - default-headers@file
      service: "grafana"
    omada:
      entryPoints:
        - "websecure"
      rule: "Host(`omada.{{ project_tld }}`)"
      tls: {}
      middlewares:
        - default-headers@file
      service: "omada"
    proxmox:
      entryPoints:
        - "websecure"
      rule: "Host(`pve.{{ project_tld }}`)"
      tls: {}
      service: "proxmox"
  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://10.20.0.200:8123/"
    nodered:
      loadBalancer:
        servers:
          - url: "http://10.20.0.200:1880/"
    cups:
      loadBalancer:
        servers:
          - url: "http://10.20.0.232:631/"
    dimondyucas:
      loadBalancer:
        servers:
          - url: "http://10.20.0.109:80/"
    graylog:
      loadBalancer:
        servers:
          - url: "http://10.20.0.230:9000/"
    grafana:
      loadBalancer:
        servers:
          - url: "http://10.20.0.230:3000/"
    omada:
      loadBalancer:
        servers:
          - url: "http://10.10.0.252/"
    proxmox:
      loadBalancer:
        servers:
          - url: "https://10.20.0.205:8006/"
tls:
  options:
    default:
      minVersion: VersionTLS12
      sniStrict : true
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
