---
api:
  dashboard: true
  debug: false

serversTransport:
  insecureSkipVerify: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "10.10.0.1"
  prometheus:
    address: ":8082"
  docker:
    address: ":5005"
  torrent:
    address: ":6881"
  bittorrent:
    address: ":6881/udp"
  mongodb:
    address: ":27017"
  netboot:
    address: ":69/udp"

providers:
  docker:
    endpoint: "tcp://tecnativa:2375"
    exposedByDefault: false
    watch: true
    network: proxy
  file:
    filename: /config.yml
    watch: true

certificatesResolvers:
  dnsChallenge:
    acme:
      email:
      storage: acme.json
      dnsChallenge:
        provider: dreamhost
        disablePropagationCheck: true
        delayBeforeCheck: 0

metrics:
  prometheus:
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
    addEntryPointsLabels: true
    addServicesLabels: true
    entryPoint: prometheus

pilot:
  token: "{{traefik_pilot_token}}"

experimental:
  plugins:
    rewritebody:
      modulename: "github.com/traefik/plugin-rewritebody"
      version: "v0.3.1"