FIREFLY_III_ACCESS_TOKEN={{firefly_access_token}}
FIREFLY_III_URI=https://firefly.{{project_tld}}
VANITY_URI=
CONNECTION_TIMEOUT="3.14"
APP_ENV="local"
APP_DEBUG="false"
LOG_CHANNEL="stack"
LOG_LEVEL="debug"
TRUSTED_PROXIES="**"
TZ="{{default_timezone}}"
ASSET_URL=
ENABLE_MAIL_REPORT="true"
MAIL_DESTINATION="{{project_notification_email}}"
MAIL_MAILER="smtp"
MAIL_HOST="{{email_host}}"
MAIL_PORT="{{email_port}}"
MAIL_ENCRYPTION="tls"
MAIL_USERNAME="{{email_user}}"
MAIL_PASSWORD="{{email_password}}"
MAIL_FROM_ADDRESS="{{email_user}}"
BROADCAST_DRIVER="log"
CACHE_DRIVER="file"
QUEUE_CONNECTION="sync"
SESSION_DRIVER="file"
SESSION_LIFETIME="120"
REDIS_HOST="redis"
REDIS_PASSWORD="null"
REDIS_PORT="6379"
REDIS_DB="0"
REDIS_CACHE_DB="1"
APP_NAME="CSVImporter"
APP_URL="http://localhost"