PHOTOPRISM_URL=https://{{photo_tld}}
PHOTOPRISM_DEBUG=false
PHOTOPRISM_PUBLIC=false
PHOTOPRISM_READONLY=false
PHOTOPRISM_UPLOAD_NSFW=true
PHOTOPRISM_DETECT_NSFW=false
PHOTOPRISM_EXPERIMENTAL=false
PHOTOPRISM_SITE_CAPTION=Browse Your Life
PHOTOPRISM_HTTP_PORT=2342
PHOTOPRISM_SETTINGS_HIDDEN=false
PHOTOPRISM_ADMIN_PASSWORD={{photoprism_admin_password}}
PHOTOPRISM_DATABASE_DRIVER=mysql
PHOTOPRISM_DATABASE_DSN={{photoprism_database_user}}:{{photoprism_database_password}}@tcp(database2:3306)/{{photoprism_database}}?charset=utf8mb4,utf8&parseTime=true
PHOTOPRISM_THUMB_FILTER=lanczos
PHOTOPRISM_THUMB_UNCACHED=false
PHOTOPRISM_THUMB_SIZE=2048
PHOTOPRISM_THUMB_SIZE_UNCACHED=7680
PHOTOPRISM_JPEG_SIZE=7680
PHOTOPRISM_JPEG_QUALITY=90
PHOTOPRISM_DARKTABLE_PRESETS=false
PHOTOPRISM_STORAGE_PATH=/photoprism/storage
PHOTOPRISM_IMPORT_PATH=/photoprism/import
PHOTOPRISM_ORIGINALS_PATH=/photoprism/originals
PHOTOPRISM_SPONSOR=true