server:
  host: 0.0.0.0
  port: {{authelia_port}}
  path: ""
  read_buffer_size: 4096
  write_buffer_size: 4096
  enable_pprof: false
  enable_expvars: false
  disable_healthcheck: false
  asset_path: /config/assets/

access_control:
  default_policy: two_factor
  networks:
  - name: internal
    networks:
    - 10.0.0.0/8
  rules:
  - domain: "*.{{project_tld}}"
    policy: bypass
    resources:
    - "^/api/.*$"
    - "^/identity/.*$"
    - "^/triggers/.*$"
    - "^/meshagents.*$"
    - "^/meshsettings.*$"
    - "^/agent.*$"
    - "^/control.*$"
    - "^/meshrelay.*$"
  - domain: api.{{project_tld}}
    policy: two_factor
    subject:
    - "group:admin"
  - domain: cyberchef.{{project_tld}}
    policy: two_factor
    subject:
    - "group:admin"
  - domain: sonarr.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: sonarr2.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: radarr.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: lidarr.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: readarr.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: prowlarr.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: sabnzbd.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: qbittorrent.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: bazarr.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"
  - domain: print.{{project_tld}}
    policy: two_factor
    subject:
    - "group:print"
  - domain: sabnzbd.{{project_tld}}
    policy: two_factor
    subject:
    - "group:media"

authentication_backend:
  disable_reset_password: false
  file:
    path: /config/users.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64

storage:
  encryption_key: {{authelia_encryption_key}}
  postgres:
    host: {{postgres_hostname}}
    port: {{postgres_port}}
    database: {{authelia_database}}
    schema: public
    username: {{authelia_database_user}}
    password: {{authelia_database_password}}

session:
  domain: {{project_tld}}
  secret: {{authelia_session_secret}}
  redis:
    host: {{redis_hostname}}
    port: {{redis_port}}
    database_index: 1
    maximum_active_connections: 8
    minimum_idle_connections: 0

notifier:
  disable_startup_check: false
  smtp:
    host: {{email_host}}
    port: {{email_port}}
    timeout: 5s
    username: {{email_user}}
    password: {{email_password}}
    sender: "{{authelia_notifier_sender}}"
    subject: "{{authelia_notifier_subject}}"
    startup_check_address: {{authelia_notifier_startup_check_address}}
    disable_require_tls: false
    disable_html_emails: false

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

ntp:
  address: "time.cloudflare.com:123"
  version: 3
  max_desync: 3s
  disable_startup_check: false
  disable_failure: false

totp:
  issuer: authelia.com
  algorithm: sha1
  digits: 6
  period: 30
  skew: 1

theme: dark
jwt_secret: {{authelia_jwt_secret}}
default_redirection_url: https://www.{{project_tld}}/